# Fichiers générés avec Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Les exécutables qui peuvent être ajoutés au repo
hugo.exe
hugo.darwin
hugo.linux

# Les fichiers temporaires .lock pendant la construction 
/.hugo_build.lock

# macOS
.DS_Store